.footer {
  background-color: #E6FAF8;
  color: #0F076A;
  width: 100%;

}

.home {
  background-image: url(../img/plane.jpg);
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.form-check-label {
  color: white;
  font-size: 25px;
}

.form-check-input {
  width: 20px;
  height: 20px;
}

.modal-header {
  color: #D2FEFA;
  background-color: #D6D7D7;
}

ul.ui-autocomplete {
  font-size: 20px;
  float: left;
  padding-left: 0;
  list-style: none;
  background-color: white;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}

ul.ui-state-hover, .ui-state-active {
  color: black;
  background-color: #60a3bc;
}

.ui-helper-hidden-accessible{
  display:none !important;
}
