.navbar {
  background-color: #E6FAF8;
  height: 120px;
  z-index: 1;
  color: #0F076A;
}

.navbar a {
  color: #0F076A;
}

.navbar-toggler {
  border-color: #0F076A;
}

.navbar-nav {
  background: #E6FAF8;
  text-align: center;

}

.nav-item {
  border: 3px solid #0F076A;
  border-radius: 5px !important;
  font-size: 20px;
  padding: 0 10px 0 10px;
  font-family: sans-serif;
}

.innerButton:focus {
  outline: none;
}
