.resultFlight{
  height: 200px;
  margin-top: 30px;
  background-color: #B2D6FB;
}

.resultFlightReturn{
  height: 200px;
  margin-top: 30px;
  background-color: #B2D6FB;
}

.resultFlightReturn2{
  height: 200px;
  background-color: #B2D6FB;
}

.logo{
  margin-top: 30%;
  text-align: center;

}

.logoInscription{
  margin-top: 40%;
  text-align: center;
}

.resultFlightHeading{
  height: 250px;
  margin-top: 30px;
  background-color: #0006A2;
  color: white;
}
