.resultFlight {
  height: 200px;
  margin-top: 30px;
  background-color: #B2D6FB;
}

.resultFlightReturn {
  height: 200px;
  margin-top: 30px;
  background-color: #B2D6FB;
}

.resultFlightReturn2 {
  height: 200px;
  background-color: #B2D6FB;
}

.logo {
  text-align: center;

}

.logoInscription {
  text-align: center;
}

.resultFlightHeading {
  height: 250px;
  margin-top: 30px;
  background-color: #03002E;
  color: white;
  font-family: sans-serif;
}

.resultFlightFilters {
  height: 630px;
  margin-top: 30px;
  background-color: #2F4F4F;
  color: black;
  font-family: sans-serif;
}

.detailCard{
  height: 80px;
  margin-bottom: 30px;
  background-color: #F0F8FF;
}



